
#titulo{
    color: rgb(79, 127, 172);
    text-align: center;
}
.texto-paragrafo{
    text-align: center;
}
.entrada-usuario{
    border: 1px solid;
    width: 200px;
    margin: auto;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 20px;
    
}
.rodape{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(51, 214, 132);
    padding-top : 10px;

}
